<!DOCTYPE html>
<html>
<head>
<style>
html, body {
  height: 100%;
  width: 100%;
  background: #F5F5F5;
}
.tela{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    background: #7749F8;
    border-radius: 4px;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cabecalho_1{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;   
}
.cabecalho_2{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;  
}
.cabecalho_3{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;  
}
.cabecalho_4{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;  
}
.cabecalho_5{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;  
}
.titulos{
    display: flex;
    height: 14%;
    width: 100%;
    align-items: center;
    justify-content: center; 
}
.corpo{
    height: 81%;
    width: 100%;
    display: flex;
    flex-direction: row;
} 
.corpo_1{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 30%;
    justify-content: space-around;
}
.corpo_2{
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: center; 
    flex-direction: row;
}
.corpo_2_1{
    display: flex;
    height: 100%;
    width: 33.3%;
    flex-direction: column;
    text-align: center;

}
.corpo_2_2{
    display: flex;
    height: 100%;
    width: 33.4%;
    flex-direction: column;
    text-align: center;

}
.corpo_2_2_1{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}
.corpo_2_2_2{
    display: flex;
    height: 95%;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.corpo_2_3{
    display: flex;
    height: 100%;
    width: 33.3%;
    flex-direction: column;
    align-items: baseline;
    text-align: center;

}
A{
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
}
.corpo_label
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #152536;
}
.corpo_texto_select{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #6C757D;
    width: 51.8%;
}
.corpo_texto_input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #6C757D;
    width: 50%;
}
tr{
    padding: 10px 20px;
    border: 1px solid #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #152536;
    justify-content: space-evenly;

}
td{
    padding: 10px 20px;
    border: 1px solid #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #152536;
    width: 400px;
    justify-content: space-evenly;


}
.form_flex{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.hidden{
    display: none;
}
.botao_adicionar{
    background-color: #7749F8;
    color: white;
    display: inline-block;
    font-size: 20px;
    border: 1px;
    height: fit-content;
}
.corpo_edita_input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #152536;
    width: 100%;
}
td a{
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
}
.celula_editar{
    border-width: 1px 0 1px 1px;
    position: relative;
    padding-right: 0px;
}
.celula_excluir{
    border-width: 1px 1px 1px 0;
    text-align: right;
    position: relative;
    left: -2px;
    padding-left: 0px;
}
</style>
</head>
<body>
    
<div class="tela">
    <div class="cabecalho">
        <div class="cabecalho_1">
            <a href="/cadastro">Dimensão</a>
        </div>
        <div class="cabecalho_2">
            <a href="/cadastroProcesso">Processo</a>
        </div>
        <div class="cabecalho_3">
            <a href="/cadastroResultado">Resultado Esperado</a>
        </div>
        <div class="cabecalho_4">
            <a href="/cadastroMaturidade">Nivel de Maturidade</a>
        </div>
        <div class="cabecalho_5">
            <a href="/cadastroProcessoMaturidade">Processo por Maturidade</a>
        </div>
    </div>
    <div class="titulos">
        <h1>Gerencia de Requisitos - PRMC</h1>
    </div>
    <div class="corpo">
        <div class="corpo_1">
            <form action="/cadastroProcessoMaturidade/incluir_processoMaturidade" method="post" class="formulario form_flex">
                <label class="corpo_label hidden" id="label_processo_hidden">Selecione o Processo</label>
                <%= select_tag "processo_id", options_from_collection_for_select(@processos, "id", "descricao"), prompt: "Escolha um processo", class: "processo corpo_texto_select hidden" %>
                <label class="corpo_label hidden" id="label_maturidade_hidden">Selecione o nivel de Maturidade</label>
                <%= select_tag "maturidade_id", options_from_collection_for_select(@maturidades, "id", "descricao"), prompt: "Escolha um nivel de maturidade", class: "maturidade corpo_texto_select hidden" %>
            
            </form>
            
        </div>
        <div class="corpo_2">
            <div class="corpo_2_1">
                <label class="corpo_label">Maturidade</label>
                <table id="body">
                
                </table>
               
            </div>
            <div class="corpo_2_2">
                <div class="corpo_2_2_1">
                    <label class="corpo_label">Processos</label>
                    <input type="button" value="+" onclick="funcao()" class="botao_adicionar">
                </div>
                <div class="corpo_2_2_2">
                    <table id="body2">
        
                    <% @processoMaturidades.each do |processoMaturidade| %>                
                        <input type="hidden" readonly="readonly" class="resultProcesso" value="<%=processoMaturidade.processo.id%>">
                        <input type="hidden" readonly="readonly" class="descricaoProcesso" value="<%=processoMaturidade.processo.descricao%>">
                        <input type="hidden" readonly="readonly" class="descricaoMaturidade" value="<%=processoMaturidade.maturidade.descricao%>">
                        <input type="hidden" readonly="readonly" class="idProcesso" value="<%=processoMaturidade.id%>">
   
                        
                    <%end%>
                
                </table>
                </div>
                
                
            </div>

            <div class="corpo_2_3">
            
            </div>
          
        </div>
    </div>

</div>

<script>
    var formulario = document.getElementsByClassName('formulario');
        for (var i = 0; i< formulario.length; i++){
          formulario[i].addEventListener('keydown', e => {
                if(e.key == "Enter") {
                    e.target.parentElement.submit();
                }
            })
        }
      
    function addEventListenerToForm() {
    
    var formulario = document.getElementsByClassName('formulario');
    for (var i = 0; i< formulario.length; i++){
        formulario[i].addEventListener('keydown', e => {
            if(e.key == "Enter") {
                console.log(e.target.parentElement);
                e.target.parentElement.submit();
            }
        })
    }
    }

    var selectProcesso = document.getElementsByClassName("processo");
    var comparaProcesso = document.getElementsByClassName('resultProcesso');
    var descricaoProcesso = document.getElementsByClassName('descricaoProcesso');
    var descricaoMaturidade = document.getElementsByClassName('descricaoMaturidade');
    var idProcesso = document.getElementsByClassName('idProcesso')


    var table = document.createElement('table');
    var thead = document.createElement('thead');
    var tbody = document.createElement('tbody');
    
    var table2 = document.createElement('table');
    var thead2 = document.createElement('thead');
    var tbody2 = document.createElement('tbody');
    

    table.appendChild(thead);
    table.appendChild(tbody);

    table2.appendChild(thead2);
    table2.appendChild(tbody2);

    document.getElementById('body').appendChild(table);
    document.getElementById('body2').appendChild(table2);
    i = 0;

    while( i < selectProcesso.length) {
        selectProcesso[i].addEventListener('change', e => {
            e.target.nextElementSibling.value = e.target.value;
            tbody.innerText = "";
            tbody2.innerText = "";
            
            for(var j = 0 ; j < comparaProcesso.length; j++)
            {
                if(comparaProcesso[j].attributes[3].nodeValue == e.target.value)
                {
                    var k = idProcesso[j].attributes[3].nodeValue
                    var row = document.createElement('tr');
                    var heading = document.createElement('td');
                    heading.innerHTML = descricaoMaturidade[j].attributes[3].nodeValue;
                    row.appendChild(heading);
                    tbody.classList.add("espaco_tabela");
                    tbody.appendChild(row);
                
                    row = document.createElement('tr');
                    heading = document.createElement('td');
                    heading2 = document.createElement('td'); 
                    heading.innerHTML = `<form action="/cadastroProcessoMaturidade/${k}/salvar_processoMaturidade" method="post" class="formulario"><input class="corpo_edita_input" name ="processo_id" type="text" value="${descricaoProcesso[j].attributes[3].nodeValue}" style="background-color:transparent; border: none;"></form>`
                    heading2.innerHTML = `<a href=/cadastroProcessoMaturidade/${k}/excluir_processoMaturidade>X<a>`;
                    heading.classList.add("celula_editar");
                    heading2.classList.add("celula_excluir");
                    row.appendChild(heading);
                    row.appendChild(heading2);
                    tbody2.appendChild(row);
                }
            }
        })
        i++;
    }



    var labelProcessoInvisivel = document.getElementById("label_processo_hidden");
    var selectProcessoInvisivel = document.getElementById("processo_id");
    var labelMaturidadeInvisivel = document.getElementById("label_maturidade_hidden");
    var selectMaturidadeInvisivel = document.getElementById("maturidade_id");

    function funcao(){
        
        labelProcessoInvisivel.classList.remove('hidden');
        selectProcessoInvisivel.classList.remove('hidden');
        labelMaturidadeInvisivel.classList.remove('hidden');
        selectMaturidadeInvisivel.classList.remove('hidden');
    
    }
</script>

</body>
</html>