<!DOCTYPE html>
<html>
<head>
<style>
html, body {
    height: 100%;
    width: 100%;
    background: #F5F5F5;
}
.tela{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tela_1{
    height: 100%;
    width: 6%;
    display: flex;
    flex-direction: column;
}
.tela_2{
    height: 100%;
    width: 94%;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    background: #7749F8;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cabecalho_1{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center; 
}
.cabecalho_2{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;  
}
.cabecalho_3{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;  
}
.cabecalho_4{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.titulos{
    display: flex;
    height: 14%;
    width: 100%;
    align-items: center;
    justify-content: center; 
}
.corpo{
    height: 81%;
    width: 100%;
    display: flex;
    flex-direction: row;
} 
.corpo_2{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center; 
    flex-direction: row;
}
.corpo_2_1{
    display: flex;
    height: 100%;
    width: 33.3%;
    flex-direction: column;
    text-align: center;
}
.corpo_2_1_1{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly; 
    
}
.corpo_2_1_2{
    display: flex;
    height: 95%;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.corpo_2_2{
    display: flex;
    height: 100%;
    width: 33.4%;
    flex-direction: column;
    text-align: center;

}
.corpo_2_2_1{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}
.corpo_2_2_2{
    display: flex;
    height: 95%;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.corpo_2_3{
    display: flex;
    height: 100%;
    width: 33.3%;
    flex-direction: column;
    align-items: baseline;
    text-align: center;

}
A{
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
}
.corpo_label
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #152536;
}
.corpo_texto_select{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #6C757D;
    width: 100%;
}
.corpo_texto_input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #6C757D;
    width: 50%;
}
.corpo_edita_input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #152536;
    width: 100%;
}
tr{
    padding: 10px 20px;
    border: 1px solid #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #152536;
    justify-content: space-evenly;

}
td{
    padding: 10px 20px;
    border: 1px solid #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #152536;
    width: 1%;
    justify-content: space-evenly;
}
.form_flex{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.celula_editar{
    border-width: 1px 0 1px 1px;
    position: relative;
    width: 100%;
}
.celula_excluir{
    border-width: 1px 1px 1px 0;
    text-align: right;
    position: relative;
    left: -2px;
}
.hidden{
    display: none;
}
.botao_adicionar{
    background-color: #7749F8;
    color: white;
    display: inline-block;
    font-size: 20px;
    border: 1px;
    height: fit-content;
}
td a{
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
}
</style>
</head>
<body>
    
<div class="tela">
    <div class=tela_1>
        <div class="cabecalho">
            <div class="cabecalho_1">
                <a href="/cadastro">Dimensão</a>
            </div>
            <div class="cabecalho_2">
                <a href="/cadastroProcesso">Processo</a>
            </div>
            <div class="cabecalho_3">
                <a href="/cadastroResultado">Resultado<br> Esperado</a>
            </div>
            <div class="cabecalho_4">
                <a href="/cadastroMaturidade">Nivel<br> Maturidade</a>
            </div>
        </div>
    </div>
    <div class="tela_2">
        <div class="titulos">
            <h1>Gerencia de Requisitos - PRMC</h1>
        </div>
        <div class="corpo">
            <div class="corpo_2">
                <div class="corpo_2_1">
                        <div class="corpo_2_1_1">
                            <label class="corpo_label">Dimensões</label>
                            <form action="/cadastroProcesso/incluir_processo" method="post" class="formulario form_flex">
                                <%= select_tag "dimensao_id", options_from_collection_for_select(@dimensaos, "id", "descricao"), prompt: "Escolha uma dimensão", class: "dimensao corpo_texto_select" %>
                        
                        </div>
                        <div class="corpo_2_1_2">
                            <table id="body">
                            
                            </table>
                        </div>
                </div>
                <div class="corpo_2_2">
                    <div class="corpo_2_2_1">
                        <label class="corpo_label">Processos</label>
                                <input class="corpo_texto_input" placeholder="Digite aqui" type="text" name="descricao" id="input_processo_hidden">
                                <input type="submit" value="+" class="botao_adicionar" id="click_button">
                            </form>
                    </div>
                    <div class="corpo_2_2_2">
                        <table id="body2">
                
                            <% @processos.each do |processo| %>                
                                <input type="hidden" readonly="readonly" class="resultProcesso" value="<%=processo.dimensao.id%>">
                                <input type="hidden" readonly="readonly" class="descricaoProcesso" value="<%=processo.descricao%>">
                                <input type="hidden" readonly="readonly" class="descricaoDimensao" value="<%=processo.dimensao.descricao%>">
                                <input type="hidden" readonly="readonly" class="idProcesso" value="<%=processo.id%>">
                            <%end%>
                        
                        </table>
                    </div>
                </div>

                <div class="corpo_2_3">
                
                </div>
            
            </div>
        </div>
    </div>
</div>

<script>
    var formulario = document.getElementsByClassName('formulario');
        for (var i = 0; i< formulario.length; i++){
            
            formulario[i].addEventListener('keydown', e => {
                if(e.key == "Enter") {
                    e.target.parentElement.parentElement.submit();
                }
            })
        }
      
    function addEventListenerToForm() {
    
    var formulario = document.getElementsByClassName('formulario');
    for (var i = 0; i< formulario.length; i++){
        formulario[i].addEventListener('keydown', e => {
            if(e.key == "Enter") {
                console.log(e.target.parentElement);
                e.target.parentElement.parentElement.submit();
            }
        })
    }
    }

    var selectDimensao = document.getElementsByClassName("dimensao");
    var comparaProcesso = document.getElementsByClassName('resultProcesso');
    var descricaoProcesso = document.getElementsByClassName('descricaoProcesso');
    var descricaoDimensao = document.getElementsByClassName('descricaoDimensao');
    var idProcesso = document.getElementsByClassName('idProcesso')
    var formProcesso = document.getElementById('formProcesso');
    

    var table = document.createElement('table');
    var thead = document.createElement('thead');
    var tbody = document.createElement('tbody');
    
    var table2 = document.createElement('table');
    var thead2 = document.createElement('thead');
    var tbody2 = document.createElement('tbody');
    
    table.appendChild(thead);
    table.appendChild(tbody);

    table2.appendChild(thead2);
    table2.appendChild(tbody2);

    document.getElementById('body').appendChild(table);
    document.getElementById('body2').appendChild(table2);
    i = 0;
    
    while( i < selectDimensao.length) {
        
        selectDimensao[i].addEventListener('change', e => {
            e.target.nextElementSibling = e.target.value;
            tbody2.innerText = "";
            
            for(var j = 0 ; j < comparaProcesso.length; j++)
            {
                if(comparaProcesso[j].attributes[3].nodeValue == e.target.value)
                {
                    
                    var k = idProcesso[j].attributes[3].nodeValue
                    var row = document.createElement('tr');
                    var heading = document.createElement('td');
                    heading2 = document.createElement('td'); 
                    heading.innerHTML = `<form action="/cadastroProcesso/${k}/salvar_processo" method="post" class="formulario"><textarea class="corpo_edita_input" name ="descricao" type="text" name="descricao" style="background-color:transparent; border: none;">${descricaoProcesso[j].attributes[3].nodeValue}</textarea></form>`
                    heading2.innerHTML = `<a href=/cadastroProcesso/${k}/excluir_processo>X<a>`;
                    heading.classList.add("celula_editar");
                    heading2.classList.add("celula_excluir");
                    row.appendChild(heading);
                    row.appendChild(heading2);
                    tbody2.appendChild(row);

                }

            }
        })         
        i++;
    }

</script>

</body>
</html>